# Supabase PostgreSQL Connection (Transaction Pooler - Port 6543)
DATABASE_URL="postgresql://postgres.PROJECTID:PASSWORD@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# Supabase Direct Connection (for migrations - Port 5432)
DIRECT_URL="postgresql://postgres.PROJECTID:PASSWORD@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

PORT=3000
NODE_ENV=development
